<?xml version="1.0" encoding="utf-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" default-init-method="customInit" default-destroy-method="customDestroy">

    <!-- bean definitions here -->

    <bean id="actor" class="com.stackroute.domain.Actor">

        <constructor-arg name="name" value="Matt Bomer"></constructor-arg>
        <constructor-arg name="gender" value="Male"></constructor-arg>
        <constructor-arg name="age" value="41"></constructor-arg>

    </bean>


    <bean id="movie" class="com.stackroute.domain.Movie" autowire="byName">
    </bean>

    <bean id="BeanLifeCycle" class="com.stackroute.demo.BeanLifeCycleDemoBean" init-method="customInit" destroy-method="customDestroy">
    </bean>







</beans>